<% if current_customer.nil? %>
  <%= link_to "Sign Up", new_customer_registration_path %>
  <%= link_to "Log In", new_customer_session_path %>
<% else %>
  <%= link_to "Log Out", destroy_customer_session_path, method: :delete %>
  <%= current_customer.email%>
  <li>

  </li>
<% end %>

<h3 class="text-center">Products for Sale</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_line: @order_line%>
    <% end %>
  </div>
</div>
