<div class="col-md-6 col-md-offset-3">
  <%= simple_form_for :charge do |f| %>
    <%= f.input :name %>
    <%= f.input :card_number %>
    <%= f.input :exp_month, collection: 1..12 %>
    <%= f.input :exp_year, collection: 2016..2030 %>
    <%= f.input :cvc %>
    <%= f.hidden_field :amount, value: current_order.subtotal%>
    <%= f.hidden_field :email, value: @customer.email%>
    <%= f.hidden_field :customer_id, value: @customer.id%>
    <%= f.hidden_field :product_name, value: @product_name%>
    <%= f.hidden_field :date, value: Date.today%>
    <%= f.submit  %>
  <% end %>
</div>
